{{ define "main" }}
<article class="bg-gray-100">
  <div class="container lg:flex items-center lg:space-x-8 py-12 md:py-20 bg-white leading-loose space-y-8">
    <div class="space-y-8">{{- .Content }}</div>
    <div class="flex-shrink-0 text-center">
      {{ $dog := index (.Resources.Match .Params.dogimg) 0 }}
      <figure>
        <picture>
          {{ $dogWebp := $dog.Resize "800x webp"}}
          <source media="(min-width: 400px)" srcset="{{$dogWebp.Permalink}}" type="image/webp">
          {{ $dogSmWebp := $dog.Resize "400x webp"}}
          <source srcset="{{$dogSmWebp.Permalink}}" type="image/webp">
          {{ $dogJpeg := $dog.Resize "800x"}}
          <source media="(min-width: 400px)" srcset="{{$dogJpeg.Permalink}}" type="image/Jpeg">
          {{ $dogSmJpeg := $dog.Resize "400x"}}
          <source srcset="{{$dogSmJpeg.Permalink}}" type="image/Jpeg">
          <img src="{{$dog.Permalink}}" alt="cute dog" class="rounded-md" loading="lazy" width="600">
        </picture>
        <caption><b>Oh and we’re dog people.</b></caption>
      </figure>
    </div>
  </div>
</article>
{{ end }}