<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' style="scroll-behavior: smooth;">
{{ partial "head.html" . -}}

{{ $res := .Resources }}

<body class="pace-y-4">
  <div class="relative" style="max-width:100vw;overflow-x:hidden;" role="banner">

    <canvas id="canvas" class="bg-main-rg absolute h-full top-0 bottom-0 right-0 left-0"></canvas>
    <div class="absolute h-full w-full top-0 left-0 bg-black bg-opacity-25"></div>

    <div class="py-12 lg:py-20 container text-white space-y-8 lg:space-y-0 relative lg:flex justify-between">
      <div class="space-y-4 max-w-lg mx-auto lg:ml-0 text-center lg:text-left">
        {{ $logo := resources.GetMatch "images/white-nolock.png" }}
        <img src="{{$logo.Permalink}}" alt="logo pen" class="w-40 mx-auto lg:ml-0">
        <br>
        <h1 class="text-3xl lg:text-4xl">{{ .Title }}</h1>
        <div class="max-w-md mx-auto lg:ml-0">{{.Content}}</div>
        <div><button class="bg-primary px-8 py-4 rounded-full" id="open-yt-popup">Watch vidoo</button></div>
      </div>
      <div id="form" class="space-y-4">
        <div class="md:flex justify-between space-y-2 md:space-y-0 max-w-md mx-auto">
          <div class="flex items-center space-x-2">
            <svg class="bg-white rounded-full text-primary p-1 inline w-8" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
              </path>
            </svg>
            <a href="tel:++44%20207%20971%207660">+44 207 971 7660</a>
          </div>
          <div class="flex items-center space-x-2">
            <svg class="bg-white rounded-full text-primary p-1 inline w-8" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <a href="mailto:info@dark-labs.com">info@dark-labs.com</a>
          </div>
        </div>
        <div class="bg-primary p-4 md:p-8 rounded-lg text-white max-w-md mx-auto shadow-2xl">
          <form method="post" name="get demo" netlify-honeypot="bot-field" netlify action="/form-success"
            class="space-y-2">
            <h3 class="text-3xl text-center">Get a quote and demo now</h3>
            <div class="space-y-1 w-full">
              <label for="Name">Name <span class="text-red-600">*</span></label>
              <input name="Name" required class="px-4 py-2 bg-white border text-black block rounded w-full">
            </div>
            <div class="space-y-1 w-full">
              <label for="Email">Email <span class="text-red-600">*</span></label>
              <input type="email" name="Email" required
                class="px-4 py-2 bg-white border text-black block rounded w-full">
            </div>
            <div class="space-y-1">
              <label for="Message">Message <span class="text-red-600">*</span></label>
              <textarea name="Message" required
                class="px-4 py-2 bg-white border text-black block rounded w-full"></textarea>
            </div>
            <div><small>We reply within one business day.</small></div>
            <div>
              <button class="px-4 py-2 rounded bg-white text-center block w-full text-black">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <main class="bg-gray-50">
    <section class="container">
      <h3 class="text-3xl text-center pt-12 md:pt-20 max-w-screen-md mx-auto">
        <b>Gain control & visibility of vulnerabilities through Darklabs real-time
          pen-testing platform</b>
      </h3>
      <div class="flex flex-wrap justify-between py-12 md:py-20">
        {{ range .Params.informationblock }}
        <div class="w-full md:w-1-2 lg:w-1-3 p-4 space-y-4 text-center bg-white hover:shadow-lg">
          {{$img := $res.GetMatch .image}}
          <img src="{{$img.Permalink}}" alt="icn" class="mx-auto w-36" width="128" height="128">
          <h3 class="text-xl"><b>{{.title}}</b></h3>
        </div>
        {{ end }}
      </div>
      <div class="space-y-8 md:space-y-16 lg:space-y-24">
        {{ range $i,$p := .Params.informationblock }}
        <div class="md:flex items-center {{if not (modBool $i 2)}}flex-row-reverse{{end}} bg-white md:p-8 lg:p-16">
          <div class="md:w-1/2 p-8">
            {{$img := $res.GetMatch (printf "%s" .image)}}
            <img src="{{$img.Permalink}}" alt="icn" class="mx-auto w-56" width="224" height="224">
          </div>
          <div
            class="md:w-1/2 space-y-8 scroll transform {{if not (modBool $i 2)}}-{{end}}translate-x-32 duration-1000 opacity-0"
            data-scroll-classes="transform opacity-0">
            <h3 class="text-3xl"><b>{{.title}}</b></h3>
            <hr class="border-primary w-32 border-2">
            <div class="space-y-4">
              {{ safeHTML .text }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>

    <div class="container py-12 md:py-20 space-y-8 lg:space-y-16">
      <h2 class="text-3xl lg:text-5xl text-center"><b>Our Annual Subscriptions</b></h2>
      <div class="lg:flex justify-center space-y-8 lg:space-y-0">
        {{ with .Params.pricecards }}
        {{ range $i,$d := .package }}
        <div
          class="max-w-xs p-4 py-8 lg:py-12 rounded-3xl shadow-xl text-white mx-auto lg:mx-8 lg:hover:scale-110 transform duration-200 w-full text-center overflow-hidden"
          style="background: linear-gradient(-45deg,{{ .bg }})">
          <div class="bg-white bg-opacity-10 transform -rotate-6 translate-y-1/2 absolute h-full left-0 bottom-0"
            style="width: 200%;">
          </div>

          <div class="space-y-8 flex flex-col justify-between relative">
            <div class="space-y-8">
              <div class="space-y-8">
                <div class="w-24 h-24 flex justify-center items-center rounded-full mx-auto shadow-lg"
                  style="background: linear-gradient(-45deg,{{ .bg }})">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="60%" fill="#fff">
                    <path
                      d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z" />
                  </svg>
                </div>
                <h2 class="text-xl">{{upper .name}}</h2>
                <h3 class="text-4xl"><sup>$</sup>{{ .price.discount }}</h3>
              </div>
              <ul class="space-y-2">
                {{ range .features }}
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" width="20"
                    stroke="currentColor" class="inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="{{ if .check }}M4.5 12.75l6 6 9-13.5{{ else }}M6 18L18 6M6 6l12 12{{ end }}" />
                  </svg><span>{{.name}}</span>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ with .link }}
            <div>
              <a href="{{.url}}" class="bg-white p-4 px-8 rounded-full text-black shadow-md">{{.title}}</a>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="text-center py-12 md:py-20">
      <h3 class="text-3xl">Find us at infoec 2022: Stand F400</h3>
      <br>
      <a href="#form" class="p-4 bg-primary rounded-full px-8 text-white inline-block">Get a demo</a>
    </div>
    <div class="bg-black bg-opacity-50 fixed top-0 left-0 w-full h-full z-50 flex justify-center items-center hidden">
      <iframe id="yt-popup" data-src="https://www.youtube.com/embed/ICKuLC7EbHU">
      </iframe>
    </div>
  </main>
  {{- $babelConfig :="assets/js/babel.config.js" }}
  {{- $main := resources.Get "js/content-only.js" }}

  {{- $main = $main | fingerprint | js.Build}}

  {{- $main = $main | babel (dict "noComments" true "minified" true "config" $babelConfig) -}}

  <script src="{{$main.Permalink}}"></script>
</body>

</html>