{{ define "main" }}
<div class="container md:py-20 space-y-8 lg:space-y-0 py-8 lg:py-20">
  <div class="md:flex justify-between space-y-8 lg:space-y-0">
    <div class="space-y-4 max-w-screen-md">{{.Content}}</div>
    <div class="md:space-y-4 flex-shrink-0">
      {{ range .Params.people }}
      <div class="p-4 text-center">
        <img src="{{ .img }}" class="mx-auto">
        <p>{{ safeHTML .details }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="max-w-screen-sm bg-gray-100 p-4 lg:p-8 rounded-lg mx-auto space-y-4">
    <h3 class="text-3xl text-center">Contact us</h3>
    <form action="" netlify name="contact" data-netlify-recaptcha="true" method="post" class="space-y-4">
      <label class="block">
        Your Name (required) <br>
        <input name="Name" required class="px-4 py-2 rounded block w-full">
      </label>
      <label class="block">
        Your Email (required) <br>
        <input type="email" name="Email" required class="px-4 py-2 rounded block w-full" title="i.e. name@mail.com">
      </label>
      <label class="block">
        Subject <br>
        <input name="Subject" class="px-4 py-2 rounded block w-full">
      </label>
      <label class="block">
        Your Message<br>
        <textarea name="Message" required rows="10" class="px-4 py-2 rounded block w-full"></textarea>
      </label>
      <div data-netlify-recaptcha="true"></div>
      <button type="submit" class="p-8 py-4 bg-primary text-white rounded"><B>SEND</B></button>
    </form>
  </div>
</div>
{{ end }}