{{ define "main" }}
{{ $res := .Resources }}
<section class="relative" style="max-width:100vw;overflow-x:hidden;" role="banner">
  <canvas id="canvas" style="border-radius: 0 0 0 15vw;"
    class="bg-main-rg absolute h-full top-0 bottom-0 right-0 left-0"></canvas>
  <div class="text-white min-h-screen xl:min-h-full py-24 flex flex-col justify-center space-y-16 relative z-10">
    <div class="container lg:flex items-center lg:flex-row-reverse justify-between space-y-8 lg:space-y-0">
      <div class="w-full xl:w-auto xl:flex-shrink-0">
        {{ $faceImg := .Resources.GetMatch "girl-ai-face.png" }}
        <img src="{{$faceImg.Permalink}}" alt="graphic" aria-hidden="true" width="{{$faceImg.Width}}"
          height="{{$faceImg.Height}}" class="mx-auto">
      </div>
      <div class="xl:max-w-screen-md w-full space-y-8 lg:space-y-16">
        <div>
          <h2
            class="text-3xl leading-normal text-shadow-md lg:text-4xl lg:leading-normal font-bold h-40 xl:h-64 xl:text-6xl xl:leading-normal">
            {{ .Params.homehero.typewriter.constant }}<br>
            <span id="type-output"
              data-texts="{{ range $i,$s := .Params.homehero.typewriter.variable }}{{ if not (eq $i 0 )}}|{{ end }}{{ . | safeHTMLAttr}}{{ end }}">
            </span>
          </h2>
        </div>
        <div class="space-y-8">
          <p class="leading-loose font-bold text-lg xl:text-xl xl:leading-loose">{{ .Params.homehero.desc }}</p>
          <p>
            <a href="{{ .Params.homehero.btn.url }}"
              class="bg-primary hover:bg-blue-500 font-bold transition duration-500 px-8 py-4 text-sm rounded-full focus:ring-2 focus:outline-none">
              {{- upper .Params.homehero.btn.title }}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="container pb-4 hidden mouse:block">
      <div class="flex items-center lg:space-x-8 text-center">
        {{ with .Site.GetPage "/services" -}}
        {{ range .Pages -}}
        {{ if isset .Params "homecard" -}}
        {{ $gradient := "radial-gradient(circle, #293c57, #1f2d42)" }}
        <a style="background:{{ $gradient | safeCSS}};background-position:center;{{ if .Params.homecard.big }}height:175px;width:125%;{{ else }}height:140px;width:100%;{{ end }}"
          {{ if not (.Params.homecard.big) }} href="{{.Permalink}}"
          onmouseenter="this.style.background = '#1f2d42 url(\'{{(index (.Resources.Match `card.gif`) 0).Permalink | safeHTMLAttr}}\') no-repeat center';"
          onmouseleave="this.style.background = '{{ $gradient }}'" {{ else }} id="open-yt-popup" {{ end }}
          class="text-xl font-bold rounded-xl border-2 border-white border-opacity-50 hover:border-opacity-100 shadow-dark hover:shadow-darklg duration-200 hover:scale-105 transform p-4 text-shadow inline-flex items-center justify-center">
          {{ if .Params.homecard.big }}
          {{ $logoRed := resources.GetMatch "images/white-nolock.png" }}
          {{ $logoRed = $logoRed.Resize "180x" }}
          <img src="{{$logoRed.Permalink}}" alt="red logo" class="mx-auto">
          {{ else }}
          {{- .Title -}}
          {{ end }}
        </a>
        {{ end -}}
        {{ end -}}
        {{ end -}}
      </div>
    </div>
  </div>
</section>

<section class="py-8">
  <div class="container flex items-center" id="dark-pen">
    {{ range $i,$d := resources.Match "images/logos/*" }}
    <div class="{{ if not (eq $i 0) }}border-l{{ end }} px-1 md:px-4 w-full"><img src="{{.Permalink}}"
        alt="logo of {{.Name | replace `.jpg` ``}}" class="h-4 md:h-8 lg:h-12 mx-auto"></div>
    {{ end }}
  </div>
</section>

<section class="bg-gray-50">
  <div class="container py-12 md:py-20 space-y-8 lg:space-y-16 text-center">
    {{ $logoRed := resources.GetMatch "images/darkpen-big.png" }}
    {{ $logoRed = $logoRed.Resize "200x" }}
    <img src="{{$logoRed.Permalink}}" alt="red logo" class="mx-auto">
  </div>
</section>

<section class="">
  <div class="container py-12 md:py-20 space-y-8 lg:space-y-16">
    {{ range $i,$d := .Params.blocks }}
    <div class="md:flex items-center space-y-8 md:space-y-0 {{if modBool $i 2}}flex-row-reverse{{ end }}">
      <div class="md:w-1/2 flex-shrink-0">
        {{ $img := $res.GetMatch .img }}
        <img src="{{ $img.Permalink }}" alt="{{ .title }}" data-scroll-classes="transform opacity-0"
          class="scroll duration-1000 opacity-0 transform {{if not (modBool $i 2)}}-{{ end }}translate-x-12">
      </div>
      <div class="md:w-1/2 flex-shrink-0">
        <div class="max-w-sm space-y-6 lg:space-y-8 mx-4 lg:mx-auto">
          <h3 class="text-2xl lg:text-3xl leading-normal lg:leading-normal"><b>{{ .title }}</b></h3>
          <hr class="w-28 border border-primary">
          <div class="space-y-4">
            {{ safeHTML .text }}
          </div>
        </div>
      </div>
    </div>
    {{end }}
  </div>
</section>

<div class="bg-black bg-opacity-50 fixed top-0 left-0 w-full h-full z-50 flex justify-center items-center hidden">
  <iframe id="yt-popup" data-src="https://www.youtube.com/embed/ICKuLC7EbHU">
  </iframe>
</div>
{{ end }}