{{ define "main" }}
{{ $res := resources }}
{{ $bgCover := $res.GetMatch "images/large.jpg" }}
{{ $brushEffect := $res.GetMatch "images/brush-effect.png" }}

{{ with .Params.hero }}
<div class="bg-var bg-no-repeat bg-cover bg-center flex items-center justify-center"
  style="--bg: url({{ $bgCover.Permalink }});height: 60vh">
  <div class="container bg-var bg-no-repeat bg-cover bg-center text-center py-12 opacity-0 scroll duration-1000"
    style="--bg: url({{ $brushEffect.Permalink }})" data-scroll-classes='opacity-0'>
    <h1 class="text-5xl md:text-6xl lg:text-9xl font-GreatVibes">{{ .title }}</h1>
    <p class="text-primary text-3xl font-courgette">{{ .subtitle }}</p>
  </div>
</div>
{{ end }}

{{ with .Params.sec2 }}
<div class="container py-12 lg:flex items-center space-y-8 lg:space-y-0">
  <div class="space-y-8 lg:p-8 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
    <img src="{{ (resources.GetMatch `/images/PersionBridges-1.png`).Permalink }}" alt="logo" class="w-36">
    <h2 class="font-GreatVibes text-4xl text-primary">{{ .h1 }}</h2>
    <h3 class="text-primary font-courgette text-lg">{{ .h2 }}</h3>
    {{ range .text }}
    <p>{{ . }}</p>
    {{ end }}
  </div>
  <div class="space-y-8 lg:p-8">
    <img src="{{ (resources.GetMatch `/images/lJrzBeJ-1024x678.jpg`).Permalink }}" alt="logo"
      class=" opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>

    <iframe width="100%" src="https://www.youtube.com/embed/BSm42LSEcVc" frameborder="0"
      onload="this.height=this.offsetWidth/1.777" loading="lazy" class=" opacity-0 scroll duration-1000"
      data-scroll-classes='opacity-0'></iframe>
  </div>
</div>
{{ end }}

{{ with .Params.sec3 }}
<div class="bg-secondary">
  <div class="container py-12 lg:py-20 space-y-12">
    <h2 class="font-GreatVibes text-center text-4xl text-primary opacity-0 scroll duration-1000"
      data-scroll-classes='opacity-0'>{{ .h1 }}</h2>
    <div class="lg:flex space-y-8 lg:space-y-0">
      {{ range .reviews }}
      <div class="space-y-4 w-full lg:p-4 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
        <span class="text-3xl text-yellow-600">★★★★★</span>
        <h3 class="text-3xl text-primary font-courgette">{{ .h }}</h3>
        <p>{{ safeHTML .p }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ with $res.Match `/images/home-slider1/*` }}
<div class="container py-4 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
  <div class="swiper">
    <div class="swiper-wrapper">
      {{ range . }}
      <div class="swiper-slide h-40 lg:h-96 bg-var bg-center bg-no-repeat bg-cover" style="--bg: url({{ .Permalink }})">
      </div>
      {{ end }}
    </div>

    <div class="absolute top-1/2 px-4 flex justify-between w-full z-10">
      <div class="swiper-button-prev border-l-4 border-b-4 w-6 h-6 border-primary transform rotate-45">
      </div>
      <div class="swiper-button-next border-r-4 border-b-4 w-6 h-6 border-primary transform -rotate-45">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
{{ end }}

{{ with .Params.sec4 }}
<div class="bg-primary text-white">
  <div class="container py-8 lg:py-20 md:flex">
    <div class="space-y-8 w-full opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
      {{ with .sec1 }}
      <h2 class="font-GreatVibes text-4xl">{{ .h1 }}</h2>
      <div>{{ safeHTML .p }}</div>
      {{ range .features }}
      <div>
        {{ with .link }}
        <a href="{{ .url }}" class="bg-black p-2 rounded inline-flex">{{ .text }}</a>
        {{ end }}
        <div class="text-center w-40 flex flex-col justify-center items-center space-y-4">
          {{ with .count }}
          <div class="text-4xl w-16 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="100%"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
            </svg>
            {{ . }}
          </div>
          {{ end }}
          {{ with .small_text }} <p>{{ . }}</p>{{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <div class="space-y-8 w-full opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
      {{ with .sec2 }}
      <h2 class="font-GreatVibes text-4xl">{{ .h1 }}</h2>
      {{ range .features }}
      <div>
        {{ with .link }}
        <a href="{{ .url }}" class="bg-black p-2 rounded inline-flex">{{ .text }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
      {{ with .sec3 }}
      <h2 class="font-GreatVibes text-4xl">{{ .h1 }}</h2>
      {{ range .features }}
      <div>
        {{ with .link }}
        <a href="{{ .url }}" class="bg-black p-2 rounded inline-flex">{{ .text }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ with .Params.sec5 }}
<div class="container py-12 lg:py-20 space-y-12 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
  <h2 class="font-GreatVibes text-center text-4xl text-primary">{{ .h1 }}</h2>

</div>
{{ end }}

{{ with .Params.sec6 }}
<div class="bg-gray-100">
  <div class="container py-12 lg:py-20 space-y-12 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
    <h2 class="font-GreatVibes text-center text-4xl text-primary">{{ .h1 }}</h2>
    <script src="https://widget.trustmary.com/6QtS21mMN"></script>
  </div>
</div>
{{ end }}

{{ with .Params.sec7 }}
<div class="container py-12 lg:py-20 space-y-12 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
  <h2 class="font-GreatVibes text-center text-4xl text-primary">{{ .h1 }}</h2>
  {{/* <iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Fpersianbridges%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2704157589619199"
    width="100%" onload="this.height=this.offsetWidth/1.777" loading="lazy" scrolling="no" frameborder="0"
    allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  */}}
</div>
{{ end }}

{{ with .Params.sec8 }}
<div class="container py-12 lg:py-20 space-y-12 opacity-0 scroll duration-1000" data-scroll-classes='opacity-0'>
  <h2 class="font-GreatVibes text-center text-4xl text-primary">{{ .h1 }}</h2>
</div>
{{ end }}
{{ end }}