{{ define "main" }}
{{ $res := resources }}
{{ $bgCover := $res.GetMatch "images/large.jpg" }}
{{ $brushEffect := $res.GetMatch "images/brush-effect.png" }}

{{ with .Params.hero }}
<div class="bg-var bg-no-repeat bg-cover bg-center flex items-center justify-center" style="--bg: url({{ $bgCover.Permalink }});height: 60vh">
<div class="container bg-var bg-no-repeat bg-cover bg-center text-center py-12 opacity-0 scroll duration-1000" style="--bg: url({{ $brushEffect.Permalink }})"             data-scroll-classes='opacity-0'>
<h1 class="text-5xl md:text-6xl lg:text-9xl font-GreatVibes">{{ .title }}</h1>
<p class="text-primary text-3xl font-courgette">{{ .subtitle }}</p>
</div>
</div>
{{ end }}

{{ with .Params.sec2 }}
  <div class="container py-12 lg:flex items-center space-y-8 lg:space-y-0">
    <div class="space-y-8 lg:p-8">
      <img src="{{ (resources.GetMatch `/images/PersionBridges-1.png`).Permalink }}" alt="logo" class="w-36">
      <h2 class="font-GreatVibes text-4xl text-primary">{{ .h1 }}</h2>
      <h3 class="text-primary font-courgette text-lg">{{ .h2 }}</h3>
      {{ range .text }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
    <div class="space-y-8 lg:p-8">
      <img src="{{ (resources.GetMatch `/images/lJrzBeJ-1024x678.jpg`).Permalink }}" alt="logo" >

      <iframe width="100%" src="https://www.youtube.com/embed/BSm42LSEcVc" frameborder="0" onload="this.height=this.offsetWidth/1.777"></iframe>
    </div>
  </div>
{{ end }}

{{ end }}